.comment-success-password {
    position: absolute;
    width: 325px;
    height: 29px;
    left: 45px;
    top: 287px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    text-align: center;
    letter-spacing: -0.5px;

    color: #AEAEAE;
}

.status-success-password {
    position: absolute;
    width: 328px;
    height: 48px;
    left: 44px;
    top: 252px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;
    letter-spacing: -0.5px;

    color: #636363;
}

.btn-login-success-password {
    position: absolute;
    width: 325px;
    height: 54px;
    left: 45px;
    top: 358px;

    background: #2CD1F8;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'SF UI Text';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
/* identical to box height, or 100% */


color: #FFFFFF;
}

.Union-success-password {
    position: absolute;
    width: 319.42px;
    height: 317px;
    left: 234px;
    top: 542px;
    background: #2CD1F8;
    opacity: 1;
}