.previous-button-camera {
    position: absolute;
    width: 9px;
    height: 14px;
    left: 36px;
    top: 71px;
}

.front-camera-title {
    position: absolute;
    width: 328px;
    height: 21px;
    left: 43px;
    top: 68px;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--white-color);
}

/* card body */

.front-card-body {
    background: url('../../asset/front-card-body.png') no-repeat;
    position: absolute;
    left: 32px;
    top: 185px;
    width: 350px;
    height: 235.6px;
}

.front-card-border {
    position: absolute;
    width: 330px;
    height: 217px;
    left: 10px;
    top: 7px;
    background: #1D1D1D;
    opacity: 0.6;
    border: 2px solid var(--white-color);
    border-radius: 13px;
}

.front-card-img {
    background: url('../../asset/img-id-card.png');
    position: absolute;
    width: 289px;
    height: 178.86px;
    left: 19px;
    top: 17px;
    border-radius: 7px;
    z-index: 2;
}

.front-card-img-avatar {
    background: url('../../asset/image\ 13.png') no-repeat;
    position: absolute;
    top: 46px;
    left: 21.4px;
    width: 83px;
    height: 83px;
    border: 10px solid white;
    border-radius: 50%;
}

/* note */

.front-camera-note {
    position: absolute;
    width: 340px;
    height: 33px;
    left: 0;
    top: 281px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    color: var(--white-color);
}

.btn-take-photo-background {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 142px;
    top: 276px;
    background: #2CD1F8;
    border-radius: 50%;
}

.btn-take-photo-camera {
    background: url('../../asset/img-camera.png');
    position: absolute;
    width: 34.84px;
    height: 28.37px;
    top: 16px;
    left: 16px;
}