.header-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    height: 128px;
    width: 414px;
    background: var(--background-color);
}

.header-history-previous-btn {
    background: url('../../asset/Vector-previous.png');
    width: 9px;
    height: 14px;
}

.header-history-notification {
    position: relative;
    background: url('../../asset/Vector-bell.png');
    width: 28px;
    height: 30px;
    
}

.header-history-notification-number {
    width: 18px;
    height: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: var(--white-color);
    position: absolute;
    border-radius: 50%;
    background-color: var(--purple-color);
    position: absolute;
    top: -6px;
    left: 16px;
}

.header-history-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--white-color);
}

.header-history-navbar {
    position: fixed;
    top: 128px;
    width: 414px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    z-index: 10;
}

.header-history-navbar-app-active {
    width: 208px;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2CD1F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-history-navbar-seperate {
    position: absolute;
    width: 60px;
    height: 0px;
    left: auto;
    top: 29px;
    border: 1px solid #DDDDDD;
    transform: rotate(90deg);
}

.header-history-navbar-app-border-active {
    position: absolute;
    width: 208px;
    height: 3px;
    left: 0px;
    bottom: 0;
    background: #2CD1F8;
}

.header-history-navbar-recharge {
    width: 208px;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--bold-color);
    display: flex;
    align-items: center;
    justify-content: center;
}