.change-password-container {
    position: relative;
    width: 414px;
    height: 100vh;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.div-icon-lock {
    margin: 95px auto 0 auto;
}

.icon-lock {
    width: 112px;
    height: 112px;
    /* margin-left: 151px;

    margin-top: 95px; */
}

.previous-button {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 26px;
    top: 62px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--white-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.icon-back {
    color: #5B9CFA;
}

.login-info {
    width: 100%;
    height: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 24px;
    color: var(--bold-color);
}

.login-retpye-password {
   
    width: 100%;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #AEAEAE;
    margin-top: 6px;
}

.form-group-change-password {
    width: 86.96%;
    height: 36.53%;
    margin: 20px auto;
    bottom: 0;
    right: 0;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    z-index: 6;
}

.input-form {
    padding-top: 32px;
    
}

.div-input-change-password {
    position: relative;
}

.input-change-password {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #636363;
    width: 100%;
}

.form-2 {
    margin-top: 28px;
}

.input-icon-change-password,
.input-icon-change-password-retype {
    position: absolute;
    left: 94%;
    top: 30%;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 20px
}


.btn-change-password {
    position: absolute;
    width: 292px;
    height: 54px;
    left: 18px;
    top: 25px;
    background: #2CD1F8;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.btn-confirm-change-password {
    position: relative;
}

.div-input-wrap {
    position: relative;
    margin-bottom: 15px;
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    
    .form-group-change-password {
        height: 47.53%;
    }
    .input-icon-change-password,
    .input-icon-change-password-retype {
        left: 90%;
    }
    .union-bottom {
        display: block;
    }
}


/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
    .form-group-change-password{
        height: 300px;
    }
    .input-icon-change-password,
    .input-icon-change-password-retype {
        left: 93%;
    }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
    .form-group-change-password{
        height: 300px;
    }
    .input-icon-change-password,
    .input-icon-change-password-retype {
        left: 93%;
    }
    .union-bottom {
        display: block;
        position: absolute;
       
    }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
    .union-bottom {
        display: block;
        
    }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {}