.Reset-container {
    position: relative;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
    margin: 0 auto;
}

.icon-login-success {
    background: url('../../asset/Group\ 4.svg');
    position: absolute;
    width: 112px;
    height: 112px;
    left: 151px;
    top: 95px
}

.previous-button {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 26px;
    top: 62px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: var(--white-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.icon-back {
    color: #5B9CFA;
}

.login-info {
    position: absolute;
    width: 276px;
    height: 17px;
    left: 69px;
    top: 232px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--bold-color);
}

.login-retpye-password {
    position: absolute;
    width: 235px;
    height: 29px;
    left: 89px;
    top: 256px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #AEAEAE;
}

.form-input {
    position: absolute;
    width: 360px;
    height: 300px;
    left: 26px;
    top: 307px;
    bottom: 0;
    right: 0;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    z-index: 6;
}

.input-form {
    padding-top: 32px;
    width: 360px;
    height: 300px;
}

.form-2 {
    margin-top: 28px;
}

.input-icon-change-password {
    position: absolute;
    left: 316px;
    top: 63px;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 20px
}

.input-icon-change-password-retype {
    position: absolute;
    left: 302px;
    top: 31px;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 20px;
}

.btn-change-password {
    position: absolute;
    width: 292px;
    height: 54px;
    left: 18px;
    top: 25px;
    background: #2CD1F8;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.btn-confirm-change-password {
    position: relative;
}