


.img-success {
    margin-top: 141px;
    width: 100px;
    height: 100px;
    background: url('../../asset/image\ 12.png');
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

.information-change-password {
    margin-top: 12px;
    width: 328px;
    height: 48px;
    display: flex;
    flex-direction: column;
}

.status {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--bold-color);
}

.re-login {
    /* margin-top: 10px; */
    width: 235px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #AEAEAE;
    margin: 0 auto;
}


.btn-login-again {
    width: 325px;
    height: 54px;
    background: #2CD1F8;
    border-radius: 8px;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
    margin-top: 24px;
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    .btn-login-again{
        width: 88%;
    }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
    
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {}