.history-list-status {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: var(--bold-color);
    margin: 8px 0 4px;
}

/* icon success */
.history-list-status-icon-success {
    position: absolute;
    top: 16px;
    right: 16px;
    background: url('../../asset/Ellipse\ 22.png');
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-list-status-icon-success-img {
    position: absolute;
    background: url('../../asset/Vector-success.png');
    width: 24px;
    height: 22px;
}

/* icon waitting */

.history-list-status-icon-waitting {
    position: absolute;
    top: 16px;
    right: 16px;
    background: url('../../asset/Ellipse\ 20-waitting.png');
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-list-status-icon-waitting-img {
    position: absolute;
    background: url('../../asset/Union-waitting.png');
    width: 30px;
    height: 30px;
}

/* icon từ chối */

.history-list-status-icon-denied {
    position: absolute;
    top: 16px;
    right: 16px;
    background: url('../../asset/Ellipse\ 21-denied.png');
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-list-status-icon-denied-img{
    position: absolute;
    background: url('../../asset/Ellipse\ 26-border-denied.png');
    width: 30px;
    height: 30px;
}

.history-list-status-icon-denied-img-2 {
    position: absolute;
    background: url('../../asset/Vector\ 1-denied.png');
    width: 20px;
    height: 20px;
    top: 4.4px;
    left: 4px;
}
/* icon bị hủy */

.history-list-status-icon-canceled-img {
    position: absolute;
    top: 16px;
    right: 16px;
    background: url('../../asset/Ellipse\ 22-canceled.png');
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-canceled-img{
    font-size: 30px;
    /* position: absolute; */
    color: #ED502E;
    margin-top: 2px;
}