.help-container {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
}

.helps-content {
    position: absolute;
    width: 360px;
    height: 631px;
    left: 27px;
    top: 119px;

    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
}

/* question */

.question-wrap {
    position: absolute;
    top: 119px;
    left: 27px;
    width: 360px;
    height: 630px;
    overflow: scroll;
    overflow-x: hidden;
}

.question-wrap::-webkit-scrollbar {
    width: 5px;
    background-color: #DFF5FF;

    /* width of the entire scrollbar */
}

.question-wrap::-webkit-scrollbar-track {
    margin-top: 60px;
    margin-bottom: 530px;      /* color of the tracking area */
  }

.question-wrap::-webkit-scrollbar-thumb {
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 5px solid #32CBF9;
    /* creates padding around scroll thumb */
    height: 38px;
}





.content-title-icon {
    background: url('../../asset/Vector-question-icon.png') no-repeat;
    position: absolute;
    left: 33px;
    right: 80.19%;
    top: 27px;
    bottom: 81.25%;
}

.content-title-text {
    position: absolute;
    width: 226px;
    height: 18px;
    left: 61px;
    top: 29px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height, or 90% */

    letter-spacing: -0.5px;
}

/* question */

.question-1 {
    position: absolute;
    width: 230px;
    height: 18px;
    left: 31px;
    top: 70px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.answer-1 {
    position: absolute;
    width: 288px;
    height: 36px;
    left: 31px;
    top: 114px;

    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.help-hr-1 {
    position: absolute;
    width: 321px;
    height: 0px;
    left: 19px;
    top: 169px;

    border: 1px solid #DDDDDD;
}

.question-2 {
    position: absolute;
    width: 204px;
    height: 18px;
    left: 31px;
    top: 186px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.answer-2 {
    position: absolute;
    width: 288px;
    height: 36px;
    left: 31px;
    top: 230px;

    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.help-hr-2 {
    position: absolute;
    width: 321px;
    height: 0px;
    left: 19px;
    top: 285px;

    border: 1px solid #DDDDDD;
}

.question-3 {
    position: absolute;
    width: 130px;
    height: 18px;
    left: 31px;
    top: 300px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.answer-3 {
    position: absolute;
    width: 288px;
    height: 36px;
    left: 31px;
    top: 344px;

    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.help-hr-3 {
    position: absolute;
    width: 321px;
    height: 0px;
    left: 19px;
    top: 400px;

    border: 1px solid #DDDDDD;
}

.question-4 {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 31px;
    top: 415px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.answer-4 {
    position: absolute;
    width: 288px;
    height: 36px;
    left: 31px;
    top: 460px;

    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.help-hr-4 {
    position: absolute;
    width: 321px;
    height: 0px;
    left: 19px;
    top: 514px;

    border: 1px solid #DDDDDD;
}

.question-5 {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 31px;
    top: 530px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.answer-5 {
    position: absolute;
    width: 288px;
    height: 36px;
    left: 31px;
    top: 574px;

    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.question-6 {
    position: absolute;
    width: 150px;
    height: 18px;
    left: 31px;
    top: 645px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

.answer-6 {
    position: absolute;
    width: 288px;
    height: 36px;
    left: 31px;
    top: 688px;

    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    letter-spacing: -0.5px;

    color: #636363;
}

/* contact */

.helps-icon-background {
    background: url('../../asset/Ellipse\ 11.png')no-repeat;
    box-sizing: border-box;

    position: absolute;
    width: 21px;
    height: 21px;
    left: 108px;
    top: 785px;
    border-radius: 50%;

}

.helps-phone-icon {
    margin-right: 4px;
}

.helps-icon-contact {

    position: absolute;
    width: 21px;
    height: 21px;
    left: 111px;
    top: 788px;
    width: 6px;
    height: 6px;
    color: #ED822E;

}

.help-number-hotline {
    position: absolute;
    width: 183px;
    height: 21px;
    left: 120px;
    top: 786px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ED822E;
}

.helps-footer {
    position: absolute;
    width: 375px;
    height: 33px;
    left: 20px;
    top: 820px;
    text-align: center;
    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    letter-spacing: -0.5px;

    color: #AEAEAE;
}