.help-container {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
}

.help-body-title-text {
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.5px;
    color: var(--purple-color);
}

.title-bold {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.5px;
    color: var(--bold-color);
}


.help-body {
    position: relative;
    left: 27px;
    top: 119px;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgb(112 112 112 / 20%);
    border-radius: 10px;
    width: 360px;
    height: 560px;
    padding: 24px 28px;
    overflow-y: scroll;
    overflow-x: hidden

}
.help-body::-webkit-scrollbar-track {
    background-color: #DFF5FF;
}

.help-body::-webkit-scrollbar {
    width: 4px;

}

.help-body::-webkit-scrollbar-thumb {
    background-color: #32CBF9;

}

.help-body-wrap {
    padding: 24px 28px;
}

.help-body-title {
    display: flex;
    align-items: center;
    margin: 0 0 14px 4px;
}

.help-hr {
    width: 321px;
    height: 0px;
    margin: 16px 0px 16px -10px;
    border: 1px solid #DDDDDD;
}


.help-answer {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: 260px;
    letter-spacing: -0.5px;
    color: var(--bold-color);
    margin-top: 8px;
}

/* liên hệ */

.helps-phone-icon {
    margin-right: 4px;
}

.helps-icon-contact {
    position: absolute;
    width: 21px;
    height: 21px;
    left: 111px;
    top: 788px;
    width: 6px;
    height: 6px;
    color: #ED822E;

}

.help-number-hotline {
    position: absolute;
    width: 186px;
    height: 21px;
    left: 120px;
    top: 694px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ED822E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helps-footer {
    position: absolute;
    width: 375px;
    height: 33px;
    left: 20px;
    top: 720px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #AEAEAE;
}
