.Slash__background {
    position: relative;
    width: 414px;
    height: 897px;
    left: 0px;
    top: 0px;
    background: linear-gradient(170.64deg, #15EAF8 -10.08%, #58A0FA 44.31%, #BB34FD 98.7%);
    margin: 0 auto;
}

.finance__brand {
    /* innofin 1 */

    position: absolute;
    left: 19.81%;
    right: 19.81%;
    top: 18.97%;
    bottom: 74.17%;

    background: url("../../asset/innofin\ 1.png");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.finance__information {
    position: absolute;
    left: 10.63%;
    right: 10.63%;
    top: 27.68%;
    bottom: 62.5%;

    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #FFFFFF;
}

.finance__img {
    position: absolute;
    left: 10.39%;
    right: 11.84%;
    top: 41.07%;
    bottom: 36.38%;
    background: url("../../asset/image\ 18.png");
}

.login {
    position: absolute;
    width: 325px;
    height: 54px;
    left: 45px;
    top: 618px;
    color: #fff;
    background: #2CD1F8;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}