.container-slash {
    width: 414px;
    height: 100vh;
    background: var(--background-color);
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

.brand-logo {
    position: absolute;
    left: 19.81%;
    right: 19.81%;
    top: 18.97%;
    bottom: 74.17%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 250px;
    height: 61.47px;
}


.finance__information {
    position: absolute;
    left: 10.63%;
    right: 10.63%;
    top: 27.68%;
    bottom: 62.5%;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white-color);
}

.finance-img {
    position: absolute;
    /* left: 10.39%; */
    right: 6.84%;
    top: 41.07%;
    /* bottom: 36.38%; */
    width: 85.87%;
    height: 30.285%;
    object-fit: contain;

}

.start-btn {
    position: absolute;
    width: 83.6%;
    height: 54px;
    left: 8.5%;
    top: 80%;
    color: var(--white-color);
    background: #2CD1F8;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

@media screen and (min-width: 1024px) {
    .container-slash{
        height: 899px;
    }
}