.remove-edit-table {
    background: #CBCBCB;;
}

.edit-complete {
    background: #2CD1F8;
}

.tbody-wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 358px;
    height: 370px;
    position: absolute;
    overflow-y: scroll;
    width: 358px;
    top: 83px;
    left: 28px;
    height: 370px;
    border: 1px solid 
    #DDDDDD;
}

.tbody-wrap::-webkit-scrollbar
{
	width: 5px;
	background-color: #DFF5FF;
}

.tbody-wrap::-webkit-scrollbar-thumb{
	background-color: #32CBF9;
    border: 5px;
    border-radius: 20px;
}

.tbody-wrap::-webkit-scrollbar-track {
    

}

.table-1 {
    position: absolute;
    top: 16px;
    
}

.table-2 {
    position: absolute;
    top: 0px;
    border-collapse: collapse;
    left: -1px;
    width: 358px;
    overflow-y: scroll;
    height: 370px;

}