.Reset-container {

    position: absolute;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;

    background: #FBFBFD;
}

.icon-login-success {
    background: url('../../asset/Group\ 4.svg');
    position: absolute;
    width: 112px;
    height: 112px;
    left: 151px;
    top: 95px;

}

.previous-button {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 26px;
    top: 62px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.icon-back {
    color: #5B9CFA;
}

.login-info {
    position: absolute;
    width: 276px;
    height: 17px;
    left: 69px;
    top: 232px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;
    letter-spacing: -0.5px;

    color: #636363;
}

.login-retpye-password {
    position: absolute;
    width: 235px;
    height: 29px;
    left: 89px;
    top: 256px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #AEAEAE;
}

.form-input {
    position: absolute;
    width: 360px;
    height: 300px;
    left: 26px;
    top: 307px;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    z-index: 6;
}

.input-icon {
    position: absolute;
    left: 294px;
    top: 42px;
    color: #C1C1C1
}

.btn-login {
    color: #fff;
}