.account-container {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
}

.account-header-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 32px 0 30px;

}

.account-previous-button {
    font-size: 20px;
    color: var(--white-color);
    position: absolute;
    left: 30px;
    top: 51px;


}


.Account-header {
    position: absolute;
    width: 100%;
    height: 232px;
    left: 0px;
    top: 0px;
    background: var(--background-color);
    z-index: 3;
}



.account-icon-notification {

    position: absolute;
    right: 30px;
    top: 51px;

}

.icon-account-back {
    color: #fff;
    position: absolute;
    width: 9px;
    height: 14px;
    left: 30px;
    top: 51px;
}

.icon-account-bell {
    position: absolute;
    width: 28px;
    height: 30px;
    left: 351px;
    top: 48px;
    color: #fff;
}

.account-number-noti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 18px;
    height: 18px;
    left: 14px;
    top: -7px;
    border: 1px;
    border-radius: 50px;
    background: var(--purple-color);
    color: #fff;
    font-size: 10px;
}

.union-account {
    position: absolute;
    right: 0
}

.account-header-avatar {
    position: absolute;
    width: 68px;
    height: 68px;
    left: 33px;
    top: 95px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
}
.information-user-and-id {
    position: relative;
    top: 100px;
    left: 120px;
    width: 169px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Account-header-name {
 
    width: auto;
    height: 18px;   
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
}



.Account-header-number-id {
    
    width: 100%;
    height: 18px;
   
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.165px;
    color: #FFFFFF;
}

.account-balance {
    width: 90.58%;
    height: 127px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top:186px;
}


.account-balance-infomation {
    width: 191px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: var(--bold-color);
}

.account-user-coin {
    margin-top: 18px;
}

.number-money {
    width: 195px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.4px;
    color: var(--purple-color);
}

.diem {
    width: 42px;
    height: 18px;
    color: var(--bold-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

.diem,
.number-money,
.account-balance-infomation {
    margin-top: 6px;
}



/* các chức năng trong trang Account */



/* .account-content-wrap {
    position: relative;
    width: 414px;
    height: 652px;
    top: 300px;
    padding: 20px;
  

} */

/* .account-content::-webkit-scrollbar {
    width: 4px;
    height: 200%;
}

.account-content::-webkit-scrollbar-track {
    background-color: #DFF5FF;
}

.account-content::-webkit-scrollbar-thumb {
    background-color: #32CBF9;
    border-radius: 20px;
} */

.account-icon {
    display: flex;
    align-items: center;
    height: 62px;
    width: auto;
    margin: 14px 0;
}

.account-wallet-img,
.account-setting-img,
.account-help-img,
.account-contact-img {
    margin-right: 20px;
}

.elipse-wallet,
.elipse-setting,
.elipse-help,
.elipse-contact {
    position: relative;
}

.contact-background {
    width: 60p;
    height: 60px;
}

.contact-icon {
    position: absolute;
    top: 14px;
    left: 19px;
}

.wallet-icon {
    position: absolute;
    top: 12px;
    left: 16px;
}

.help-icon {
    position: absolute;
    top: 14px;
    left: 14px;
}

.setting-icon {
    position: absolute;
    top: 12px;
    left: 13px;
}

.account-wallet-img-background {

    width: 60px;
    height: 60px;
}

.account-wallet-img--info,
.account-help-img-info,
.account-setting-img-info,
.account-contact-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */


    letter-spacing: -0.3px;

    color: var(--bold-color);
}

/* hr */

.hr-account {
    width: 100%;
    color: var(--border-color);
    height: 1px;
    background-color: var(--border-color);
}

/* contact */

.account-contact-phone-number {
    text-align: left;
    margin-top: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #ED822E;
}

.account-contact-description {
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    height: 70px;
    letter-spacing: -0.5px;
    text-align: left;
    color: var(--text-color);
}

.footer-account{
    position: absolute;
    bottom: 0;
    width: 414px;
    height: 105px;
    background: var(--white-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(112 112 112 / 20%);
    z-index: 10;
    padding: 0 24px;
}



/* màn hình desktop */
@media (min-height: 820px) {}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    .footer-account{
        position: fixed;
        width: 100%;
        height: 12.647%;
    }
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px){
    .account-content {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.3px;
        color: var(--bold-color);
    
        width: 414px;
        height: 652px;
        padding: 20px;
        position: relative;
    top: 20%;   
    }
}
@media screen and (min-width: 320px) and 
(max-height:843px) {
    .account-content {
        width: 100%;
        height: 30%;
        padding: 20px;
        overflow-y: scroll;
        position: relative;
        top: 182px;
    
    }
}



/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {}

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {}
/* desktop */
@media screen and (min-width:1025px) {
    .account-content {
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.3px;
        color: var(--bold-color);
    
        width: 414px;
        height: 652px;
        padding: 20px;
        overflow: hidden;
       
    }
    .footer-account{
        position: absolute;
        height: 105px;
    }
}