.account-container {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
}

.Account-background {
    position: absolute;
    width: 414px;
    height: 232px;
    left: 0px;
    top: 0px;

    background: linear-gradient(170.64deg, #15EAF8 -10.08%, #58A0FA 44.31%, #BB34FD 98.7%);
}

.icon-account-back {
    color: #fff;
    position: absolute;
    width: 9px;
    height: 14px;
    left: 30px;
    top: 51px;
}

.icon-account-bell {
    position: absolute;
    width: 28px;
    height: 30px;
    left: 351px;
    top: 48px;
    color: #fff;
}

.number-noti-account {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 18px;
    height: 18px;
    left: 358px;
    top: 38px;
    border: 1px;
    border-radius: 50px;
    background: #C52AFE;
    color: #fff;
    font-size: 10px;
}

.Account-header-avatar {
    background: url('../../asset/image\ 13.png') no-repeat;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 33px;
    top: 95px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.Account-header-name {
    position: absolute;
    width: 122px;
    height: 18px;
    left: 122px;
    top: 106px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height, or 90% */


    color: #FFFFFF;
}

.Account-header-number-id {
    position: absolute;
    width: 132px;
    height: 18px;
    left: 122px;
    top: 131px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    letter-spacing: -0.165px;

    color: #FFFFFF;
}

.account-balance {
    position: absolute;
    width: 375px;
    height: 127px;
    left: 20px;
    top: 186px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    z-index: 3;
}

.account-balance-infomation {
    position: absolute;
    width: 191px;
    height: 18px;
    left: 100px;
    top: 20px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #636363;
}



.number-money {
    position: absolute;
    width: 195px;
    height: 18px;
    left: 76px;
    top: 60px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 18px;
    /* identical to box height, or 60% */

    text-align: center;
    letter-spacing: -0.4px;

    color: #C52AFE;
}

.diem {
    position: absolute;
    width: 42px;
    height: 18px;
    left: 264px;
    top: 63px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    text-align: center;
}

/* content */

.account-content {
    position: absolute;
    width: 414px;
    height: 676px;
    left: 0px;
    top: 229px;
    background-color: #FBFBFD;
}

.account-wallet-img {
    background: url('../../asset/Group.svg')no-repeat;
    position: absolute;
    left: 8.45%;
    right: 84.06%;
    top: 120px;
    bottom: 56.58%;
    z-index: 10;

}

.account-wallet-img--info {

    position: absolute;
    width: 193px;
    height: 18px;
    left: 97px;
    top: 128px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.3px;

    color: #636363;
}

.account-wallet-img-background {
    background: url('../../asset/Ellipse\ 14.png') no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 108px;
    border-radius: 50%;
    background: #DFF5FF;



}

.account-help-img {
    background: url('../../asset/union-help.svg') no-repeat;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 35px;
    top: 200px;
    z-index: 10;
    color: #4A96F8;
}

.account-help-img-background {
    background: url('../../asset/Ellipse\ 14.png') no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 21px;
    top: 186px;
    border-radius: 50%;
    background: #DFF5FF;
}

.account-help-img-info {
    position: absolute;
    width: 69px;
    height: 18px;
    left: 97px;
    top: 207px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.3px;

    color: #636363;
}

.account-setting-img {
    background: url('../../asset/Vector-setting.svg');
    position: absolute;
    left: 34px;
    right: 83.82%;
    top: 275px;
    bottom: 38.28%;
    width: 35px;
    height: 35px;
    z-index: 10;
}

.account-setting-img-background {
    background: url('../../asset/Ellipse\ 14.png') no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 21px;
    top: 264px;
    border-radius: 50%;
    background: #DFF5FF;
}

.account-setting-img-info {
    position: absolute;
    width: 59px;
    height: 18px;
    left: 97px;
    top: 284px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.3px;

    color: #636363;
}

hr {
    position: absolute;
    width: 375px;
    height: 0px;
    left: 20px;
    top: 330px;

    border: 1px solid #DDDDDD;
}

/* contact */

.account-hotline-icon {
    background: url('../../asset/Vector-contact.png') no-repeat;
    position: absolute;
    left: 38px;
    right: 83.82%;
    top: 388px;
    bottom: 28.02%;
    ;
    color: #ED822E;
    z-index: 10;

}

.account-hotline-background {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 374px;
    border-radius: 50%;
    background: #FFEFE3;
}

.account-hotline-information-text {
    position: absolute;
    width: 134px;
    height: 18px;
    left: 97px;
    top: 388px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.3px;

    color: #636363;
}

.account-hotline-information-number {
    position: absolute;
    width: 134px;
    height: 18px;
    left: 89px;
    top: 410px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: -0.3px;

    color: #ED822E;
}

.account-hotline-description {
    position: absolute;
    width: 375px;
    height: 52px;
    left: 20px;
    top: 450px;

    font-family: 'SF UI Text';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    letter-spacing: -0.5px;

    color: #AEAEAE;
}

.account-footer {
    position: absolute;
    width: 414px;
    height: 105px;
    left: 0px;
    top: 791px;

    background: #FFFFFF;
    box-shadow: 0px 1px 10px #D6DCE9;
}

.account-footer-cost {
    background: url('../../asset/Union-cost.png');
    position: absolute;
    width: 32.21px;
    height: 28.54px;
    left: 73px;
    top: 20px;

    color: #AEAEAE;
}

.account-hr {
    position: absolute;
    width: 375px;
    height: 0px;
    left: 20px;
    top: 348px;
    border: 1px solid #DDDDDD;
}

.account-footer-cost-text {
    position: absolute;
    width: 47px;
    height: 18px;
    left: -10px;
    top: 34px;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #AEAEAE;
}

.account-footer-history {
    background: url('../../asset/Frame-history.png');
    position: absolute;
    width: 28px;
    height: 28px;
    left: 186px;
    top: 20px;
}


.account-footer-history-text {
    position: absolute;
    width: 48px;
    height: 18px;
    left: -9px;
    top: 34px;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #AEAEAE;
}

.account-footer-user {
    background: url('../../asset/Union-user.png');
    position: absolute;
    width: 28px;
    height: 28px;
    left: 300px;
    top: 20px;
}

.account-footer-user-text {
    position: absolute;
    width: 80px;
    height: 18px;
    left: -26px;
    top: 34px;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    text-align: center;

    color: #AEAEAE;
}