.list-money-content {
    width: 100%;

}

.list-money-content::-webkit-scrollbar {
    width: 4px;
}

.list-money-content::-webkit-scrollbar-track {
    background-color: #DFF5FF;
}

.list-money-content::-webkit-scrollbar-thumb {
    background-color: #32CBF9;
    border-radius: 20px;
}

.List-money-body {
    position: relative;
    width: 94.21%;
    height: 464px;
    top: 19px;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgb(112 112 112 / 20%);
    border-radius: 10px;
    margin: 0 auto;
}

.list-money-table {
    margin: 0 auto;
    position: relative;
    top: 16px;
    width: 91.797%;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #DDDDDD;
}



th {
    text-align: center;
    height: 57px;
    color: var(--bold-color);
}



td {
    width: 118px;
    height: 38px;
}

th {
    width: 119px;
}

thead {
    background: #F3F3F3;
}

.denominations,
.total-cash,
.list-money-total,
.list-money-total-money {
    padding: 0 16px;
    text-align: right;
}

.list-money-total {
    color: var(--bold-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.5px;
}

.list-money-total-money {
    color: var(--blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.5px;
}

.quantity {
    padding: 0 30px;
    text-align: right;
}



.table-total-money {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: var(--bold-color);
}

.confirm-money {
    position: relative;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--bold-color);
    margin: 44px 0 0 12px;

}

.total-money {

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #2CD1F8;
}

.input-checkbox {

    margin-right: 10px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #CBCBCB;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;

}



.input-checkbox::before {
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    color: var(--blue-color);
    font-size: 13.6px;
    display: none;
}



.input-checkbox:checked::before {
    display: block;
}



/* btn edit table */

.btn-group-list-money {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
    margin-top:20px ;
}

.btn-edit-table {
    width: 190px;
    height: 54px;
    background: #CBCBCB;
    border-radius: 8px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}

.btn-edit-table-active {
    width: 190px;
    height: 54px;
    background: #2CD1F8;
    border-radius: 8px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}


.btn-complete-edit {
    width: 190px;
    height: 54px;
    background: #CBCBCB;
    border-radius: 8px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}


.btn-complete-edit-active {
    width: 190px;
    height: 54px;
    background: #2CD1F8;
    border-radius: 8px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}
.btn-edit-table,
.btn-edit-table-active,
.btn-complete-edit-active,
.btn-complete-edit {
    width: 48.23%   ;
}

@media screen and (max-height: 800px) {
    .list-money-content {
        height: 74.373%;
        overflow-y: scroll;
    }
    .btn-group-list-money{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .list-money-content {
        height: 100%;
        overflow: hidden;
    }
    .btn-group-list-money{
      
    }
}