.header-image-verification {
    width: 414px;
    height: 128px;
    /* left: 0px; */
    /* top: 0px; */
    background: linear-gradient(170.64deg, #15EAF8 -10.08%, #58A0FA 44.31%, #BB34FD 98.7%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-img-previous-btn {
    position: absolute;
    width: 9px;
    height: 14px;
    left: 30px;
    top: 51px;
    color: white;
}

.header-image-verification-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-align: center;
    letter-spacing: -0.5px;

    color: #FFFFFF;

}

.body-image-verification {
    height: 522px;
    overflow-x: hidden;
    position: relative;
}

.body-image-verification::-webkit-scrollbar {
    width: 0px;
}

.body-image-verification::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.description-verification {
    margin: 20px 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.5px;

    color: #636363;
}

.div-image-verification {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.image-verification {
    width: 360px;
    height: 400px;
    

}

.div-button-camera {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.button-camera {
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #2CD1F8;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
}
.button-camera , i , label, input {
    cursor: pointer;
}

#file-upload {
    display: none;
}

.button-camera-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon-camera-verify {
    margin-top: 1px;
}

.div-button-verifycation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.button-verifycation-text {
    width: 360px;
    height: 50px;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2CD1F8;
    color: white;
    font-weight: 500;
}