.cash-complete-content-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cash-complete-content {
    margin-top: 128px;
    width: 414px;
    height: 524px;
    overflow-y: scroll;
}

.cash-complete-content::-webkit-scrollbar {
    width: 4px;
  }

  .cash-complete-content::-webkit-scrollbar-track {
    background-color: #DFF5FF;
  }

  .cash-complete-content::-webkit-scrollbar-thumb {
    background-color: #32CBF9;
    border-radius: 20px;
  }

.cash-complete-content-status-icon {
    text-align: center;
}

.cash-complete-content-status-text {
    width: 251px;
    height: 48px;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #C52AFE;
}

.cash-complete-card-body {
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    width: 360px;
    height: 264px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.cash-complete-card-img {
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    width: 95px;
    height: 95px;
    margin: 0 auto;
}

.cash-complete-card-brand {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */

    letter-spacing: -0.5px;

    color: #636363;
    text-align: center;
}

.cash-complete-card-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: -0.1px;

    color: #636363;

}

.cash-complete-card-hr {
    border: 1px solid #DDDDDD;
    width: 321px;
    height: 0px;
    margin: 6px auto;
}

.cash-complete-card-money {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 129% */

    letter-spacing: -0.5px;

    color: #636363;
}

.cash-complete-card-payer {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 129% */

    letter-spacing: -0.5px;

    color: #636363;
}

.cash-complete-card-phone-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 129% */

    letter-spacing: -0.5px;

    color: #636363;
}

.money-blue {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.5px;

    color: #2CD1F8;
    position: absolute;
    top: 169px;
    left: 120px;
}

.text-payer {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.5px;

    color: #636363;
    position: absolute;
    top: 191px;
    left: 120px;
}

.text-phone-number {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.5px;

    color: #636363;
    position: absolute;
    top: 213px;
    left: 120px;
}

.cash-complete-btn-home {
    background: #2CD1F8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */


    color: #FFFFFF;
    width: 360px;
    height: 54px;
    margin: 30px auto;
}