.edit-profile-card {
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgb(112 112 112 / 20%);
    border-radius: 10px;
    width: 360px;
    top: 50px;
    position: relative;
  

}

.edit-profile-card-wrap {
    padding: 18px;
    overflow-y: scroll;
    height: 430px;
}

.edit-profile-card-wrap::-webkit-scrollbar-track {
    background-color: #DFF5FF;

}

.edit-profile-card-wrap::-webkit-scrollbar {
    width: 4px;

}

.edit-profile-card-wrap::-webkit-scrollbar-thumb {
    background-color: #32CBF9;

}

.edit-profile-content {
    margin: 6px 0;

}

.edit-profile-name {
    font-weight: 500;
    font-size: 16px;
   
    color: var(--bold-color);
    margin-top: 16px;
}

.input-edit-profile {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: var(--bold-color);
    height: 22px;
    width: 100%;
}

.edit-profile-hr {
    border: 1px solid #DDDDDD;
    margin: 10px 0;
}


.edit-profile-button {
    display: flex;
    justify-content: center;
}

.button-submit-edit {
 
    width: 325px;
    height: 54px;
    border: none;
    outline: none;
    color: white;
    background-color: #2CD1F8;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    top: 80px;
    z-index: 10;
}

input::placeholder {
    opacity: 0.5;
}
.input-option{
    opacity: 0.5;
}


select.form-control.p-2 {
    margin: 6px 0;
    color: var(--bold-color);
    border: none;
    border-bottom: 1px solid var(--border-color); ;
}

.union-edit-profile {
    position: absolute;
    bottom: 0;
    right: 0;
}