/* card backside  */
.backside-card-body {
    background: url('../../asset/front-card-body.png') no-repeat;
    position: absolute;
    left: 32px;
    top: 185px;
    width: 350px;
    height: 235.6px;
}

.backside-card-border {
    position: absolute;
    width: 330px;
    height: 217px;
    left: 10px;
    top: 7px;
    background: #1D1D1D;
    opacity: 0.6;
    border: 2px solid var(--white-color);
    border-radius: 13px;
}

.backside-card-img {
    background: url('../../asset/img-back-side-card.png');
    position: absolute;
    width: 289px;
    height: 178.86px;
    left: 12px;
    top: 12px;
    border-radius: 7px;
    z-index: 2;
}


.backside-camera-note {
    position: absolute;
    width: 340px;
    height: 33px;
    left: 0;
    top: 281px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.165px;
    color: var(--white-color);
}