.history-list {
    position: absolute;
    top: 178px;
    overflow-y: scroll;
    width: 414px;
    height: 450px;
    padding: 8px;
}

.history-list::-webkit-scrollbar-track {
    background-color: #DFF5FF;
 
  }
  .history-list::-webkit-scrollbar {
    width: 4px;
   
  }

  .history-list::-webkit-scrollbar-thumb {
    background-color: #32CBF9;
    
  }
.history-list-description {
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    width: 390px;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px 20px;
    position: relative;
}

.history-list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 138% */

    letter-spacing: -0.5px;

    color: #636363;
}

.history-list-address {
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 157% */

letter-spacing: -0.5px;

color: #636363;
}

.history-list-money {
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 157% */

letter-spacing: -0.5px;

color: #636363;
}

.history-list-time {
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 157% */

letter-spacing: -0.5px;

color: #636363;
}

.history-list-trading-code {
    font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 157% */

letter-spacing: -0.5px;

color: #636363;
}