.container-login {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 100vh;
    display: block;
    padding: 0;
    background: #FBFBFD;
    max-width: 100%;
}

.Login__Brand {
    position: absolute;
    left: 25.12%;
    right: 27.78%;
    top: 10.38%;
    bottom: 84.26%;
}

/* Dịch vụ thu hộ */
.Login__description {
    position: absolute;
    width: 164px;
    height: 17px;
    left: 129px;
    top: 124px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--bold-color);
}

/* login */

.form-group-login {
    position: absolute;
    width: 86.96%;
    height: 36.53%;
    left: 26px;
    top: 197px;
    margin: 0;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
}

.form-login {
    padding: 32px 18px;
}

.div-btn-login {
    position: relative;
}

.btn-login {
    margin: 20px auto;
    width: 100.31%;
    height: 54px;
    background: #2CD1F8;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}

input {
    padding: 2px !important;


}

.input-user-id {
    width: 324px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;


}

.input-login-hr {

    position: absolute;
    width: 324px;
    height: 0px;
    left: 20px;
    top: 86px;

    border: 1px solid #BEBEBE;
}

.input-password-hr {
    position: absolute;
    width: 324px;
    height: 0px;
    left: 20px;
    top: 166px;

    border: 1px solid #BEBEBE;
}

.input-title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: var(--bold-color);
}

.input-user-password,
.input-user-id {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #636363;
    width: 324px;
}

.div-input-password {
    margin-top: 20px;
    position: relative;
}

.input-icon-id {
    position: absolute;
    left: 322px;
    top: 56px;
    color: #C1C1C1;
    font-size: 20px;
}

.input-eye-passwords {
    position: absolute;
    top: 28px;
    left: 304px;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 20px;

}

/* quên Mật khẩu */
.forgot-password {
    position: absolute;
    width: 122px;
    height: 19px;
    left: 147px;
    top: 520px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--bold-color);

}

.link-forgot-password {
    text-decoration: none;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: var(--bold-color);
}

/* contact */

.phone {
    box-sizing: border-box;

    position: absolute;
    width: 21px;
    height: 21px;
    left: 110px;
    top: 554px;

}

.mobile-phone {
    position: absolute;
    left: 12.84%;
    right: 66.27%;
    top: 14.91%;
    bottom: 35.76%;
    color: #ED822E;


}

.phone-number {
    position: absolute;
    width: 169px;
    height: 21px;
    left: 135px;
    top: 556px;


    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ED822E;

}


.previous-button {
    cursor: pointer;
}

.union-bottom {
    background-image: url(../../asset/Union.svg);
    background-repeat: no-repeat;
    background-position: 237px 535px;
    width: 414px;
    height: 904px;

}

/* MÀN HÌNH ĐIỆN THOẠI CỰC NHỎ */
@media (min-width: 220px) and (max-width: 310px) {
    .Login__Brand {
        left: 16.12%;
    }

    .Login__description {
        left: 28.12%;
        top: 18%;
        font-size: 16px;
    }

    .input-user-id,
    .input-user-password {
        width: 100%;
    }

    .form-group-login {
        height: 46.53%;
        width: 82%;
        top: 168px;
    }

    .input-title {
        font-size: 14px;
    }

    .input-icon-id {
        left: 88%;
    }

    .input-eye-passwords {
        left: 93%;
    }

    .forgot-password {
        left: 85px;
        top: 490px;
    }
    .phone-number {
        left: 79px;
        top: 516px;
    }
    .phone {
        left: 55px;
        top: 513px;
    }
    .union-bottom {
    background-position: 100px 390px;

    }

}

/* MÀN HÌNH ĐIỆN THOẠI NHỎ */
@media (min-width: 320px) {
    .Login__Brand {
        position: absolute;
        left: 25.12%;
        right: 27.78%;
        top: 10.38%;
        bottom: 84.26%;
    }

    .Login__description {
        position: absolute;
        width: 164px;
        height: 17px;
        left: 32%;
        top: 18%;
    }

    .form-group-login {
        position: absolute;
        width: 86.69%;
        height: 300px;
        left: 26px;
        top: 197px;
        margin: 0;
        background: var(--white-color);
        box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
        border-radius: 10px;
    }

    .input-user-password,
    .input-user-id {
        width: 100%;
    }

    .input-icon-id {
        left: 88%;
    }

    .input-eye-passwords {
        left: 92%;
    }

    .btn-login {
        width: 90.785%;
        margin: 20px 0;
        width: 100%;
    }

    .forgot-password {
        left: 134px
    }

    .phone {
        left: 104px;
    }

    .phone-number {
        left: 129px;
    }
}

/* MÀN HÌNH ĐIỆN THOẠI CÓ HEIGHT DÀI */
@media (min-height: 914px) {

    .input-user-password,
    .input-user-id {
        width: 100%;
    }
}

/* MÀN HÌNH ĐIỆN THOẠI CÓ HEIGHT TỐI ĐA 915PX VÀ RỘNG TỐI THIỂU 412PX */
@media screen and (max-height: 915px) and (min-width:412px) {
    .Login__description {
        top: 17%;
    }

    .btn-login {
        width: 90.785%;
        margin: 20px 0;
        width: 100%;
    }

    .form-group-login {
        height: 32.53%;
    }
}

/* MÀN HÌNH ĐIỆN THOẠI IP 6/7/8 PLUS*/
@media screen and (max-height: 736px) and (min-width:412px) {
    .form-group-login {
        height: 37.53%;
    }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
    .Login__Brand {
        top: 8.38%;
    }

    .Login__description {
        top: 14%;
    }

    .form-group-login {
        top: 180px;
        height: 300px;
    }

    .forgot-password {
        top: 504px;
        left: 152px;
    }

    .phone-number {
        top: 534px;
        left: 140px;
    }

    .phone {
        top: 532px;
        left: 115px;
    }
}

/* MÀN HÌNH IPAD NGANG */
@media screen and (min-width: 1024px) {
    .Login__description {
        top: 15%;

    }

    .form-group-login {
        top: 214px;
        height: 300px;
    }

    .forgot-password {
        top: 540px;
    }

    .phone-number {
        top: 570px;
    }

    .phone {
        top: 568px;
    }
}

/* MÀN HÌNH DESKTOP */
@media (min-width:1025px ) {
    .form-group-login{
        width: 360px;
        height: 300px;
    }
}