.container-login {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 100vh;
    padding: 0;
    background: #FBFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    
}

.Login__Brand {
    width: 195px;
    height: 48px;
    margin-top: 93px;
}

/* Dịch vụ thu hộ */
.Login__description {
   
    width: auto;
    height: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--bold-color);
    margin-bottom: 32px;
}

/* login */

.form-group-login {
    width: 360px;
    height: 300px;
    left: 26px;
    top: 197px;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
}

.form-login {
    padding: 32px 18px;
}

.div-btn-login {
    position: relative;
}

.btn-login {
    margin: 20px auto;
    width: 100.31%;
    height: 54px;
    background: #2CD1F8;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: var(--white-color);
}

input {
    padding: 2px !important;


}

.input-user-id {
    width: 324px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.input-login-hr {

    position: absolute;
    width: 324px;
    height: 0px;
    left: 20px;
    top: 86px;

    border: 1px solid #BEBEBE;
}

.input-password-hr {
    position: absolute;
    width: 324px;
    height: 0px;
    left: 20px;
    top: 166px;

    border: 1px solid #BEBEBE;
}

.input-title {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: var(--bold-color);
}

.input-user-password,
.input-user-id {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #636363;
    width: 324px;
}



.input-icon-id {
    position: absolute;
    left: 308px;
    top: 6px;
    color: #C1C1C1;
    font-size: 20px;
}

.input-icon-passwords {
    position: absolute;
    top: 8px;
    left: 308px;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 20px;

}

/* quên Mật khẩu */
.forgot-password {
    width: auto;
    height: 19px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: var(--bold-color);
    margin-top: 24px;

}

.link-forgot-password {
    text-decoration: none;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: var(--bold-color);
}

/* contact */

.contact{
    display: flex;
    flex-direction: row;
    width: 196px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.phone {
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    margin-bottom: 6px;
}

.mobile-phone {
    color: #ED822E;
}

.phone-number {
   
    width: auto;
    height: 21px;
    left: 135px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ED822E;

}


.previous-button {
    cursor: pointer;
}

.union-bottom {
    background-image: url(../../asset/Union.svg);
    background-repeat: no-repeat;
    background-position: 20% 0;
    width: 319.42px;
    height: 317px;
    position: absolute;
    top: 542px;

}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    .Login__description {
        font-size: 16px;
    }
    .form-group-login{
        width: 90.53%;
    }
    .input-user-password, .input-user-id{
        width: 100%;
    }
    .input-icon-id,
    .input-icon-passwords{
        left: 92%;
    }
    .contact{
        margin-top: 6px;
    }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
    .Login__description {
        font-size: 18px;
    }
    .input-icon-id,
    .input-icon-passwords{
        left: 94%;
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
    .union-bottom{
        display: block;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {}
