.Login__container {
    width: 414px;
    height: 904px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
    margin: 0 auto;
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.Login__Brand {

    position: absolute;
    left: 25.12%;
    right: 27.78%;
    top: 10.38%;
    bottom: 84.26%;
    background: url('../../asset/innofin\ 2.png');
}

/* Dịch vụ thu hộ */
.Login__description {
    position: absolute;
    width: 164px;
    height: 17px;
    left: 129px;
    top: 144px;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */

    text-transform: uppercase;

    color: #636363;
}

/* login */

.form-group-login {
    position: absolute;
    width: 360px;
    height: 300px;
    left: 26px;
    top: 197px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
}

.div-btn-login {
    position: relative;
}

.btn-login {
    position: absolute;
    width: 292px;
    height: 54px;
    left: 18px;
    top: 30px;
    background: #2CD1F8;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

input {
    padding: 2px !important;


}

.input-user {
    width: 320px;
    border: none;
    outline: none;
}

.input-login-hr {

    position: absolute;
    width: 324px;
    height: 0px;
    left: 20px;
    top: 86px;
    
    border: 1px solid #BEBEBE;
}

.input-password-hr {
    position: absolute;
    width: 324px;
    height: 0px;
    left: 20px;
    top: 162px;
    
    border: 1px solid #BEBEBE;
}

.input-title {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */


    color: #636363;
}

.input-user {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */


    color: #636363;
}

.div-input-password {
    margin-top: 30px;
}

.input-icon-id {
    position: absolute;
    left: 328px;
    top: 62px;
    color: #C1C1C1
}

.input-eye-login {
    position: absolute;
    top: 140px;
    left: 328px;
    color: #C1C1C1;
}

/* quên Mật khẩu */
.forgot-password {
    position: absolute;
    width: 123px;
    height: 19px;
    left: 147px;
    top: 520px;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #636363;

}

.link-forgot-password {
    text-decoration: none;
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #636363;
}

/* contact */

.phone {
    box-sizing: border-box;

    position: absolute;
    width: 21px;
    height: 21px;
    left: 110px;
    top: 554px;

}

.mobile-phone {
    position: absolute;
    left: 12.84%;
    right: 66.27%;
    top: 14.91%;
    bottom: 35.76%;
    color: #ED822E;


}

.phone-number {
    position: absolute;
    width: 169px;
    height: 21px;
    left: 135px;
    top: 557px;

    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ED822E;

}

/* background logo */