.forgot-background {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
}

.forgot-icon {
    
   
    width: 112px;
    height: 112px;
    margin-top: 95px;
}

.forgot-password-input {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--bold-color);
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}


.status-forgot-password {
    width: 328px;
    height: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--bold-color);
    margin: 18px 0 2px 0;
}

.comment-forgot-password {
    
    width: 326px;
    height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #AEAEAE;
}


.form-input-forgot-password {
    width: 360px;
    height: 217px;
    z-index: 10;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;
    margin-top: 24px;
}

.form-forgot-password {
    position: relative;
    padding: 32px 18px;

}



.label-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: var(--bold-color);
}

.btn-forgot-password {
    
    width: 325px;
    height: 54px;
    background: #2CD1F8;
    border-radius: 8px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--white-color);
}

.input-eye {
    left: 320px;
    top: 44px;
}

.input-icon-forgot {
    position: absolute;
    left: 316px;
    top: 61px;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 20px;
}

.union-forgot-password {
    background-image: url(../../asset/Union.svg);
    background-repeat: no-repeat;
    background-position: 237px 322px;
    width: 414px;
    height: 904px;
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    .comment-forgot-password{
        width: 84%;
    }
    .form-input-forgot-password {
        width: 90%;
    }
    .input-icon-forgot{
        left: 88%;
    }
    .btn-forgot-password{
        width: 100%;
    }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {}