.forgot-background {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 899px;
    left: -1px;
    top: -3px;
    background: #FBFBFD;
}

.Forgot-icon {
    background: url('../../asset/Group\ 57.svg');
    position: absolute;
    width: 112px;
    height: 112px;
    left: 151px;
    top: 95px;
}

.forgot-password-input {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--bold-color);
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}


.status-forgot-password {
    position: absolute;
    width: 328px;
    height: 48px;
    left: 44px;
    top: 234px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--bold-color);
}

.comment-forgot-password {
    position: absolute;
    width: 326px;
    height: 70px;
    left: 44px;
    top: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #AEAEAE;
}


.form-input-forgot-password {
    position: relative;
    width: 360px;
    height: 217px;
    left: 27px;
    top: 349px;
    z-index: 10;
    background: var(--white-color);
    box-shadow: 0px 1px 10px rgba(112, 112, 112, 0.2);
    border-radius: 10px;

}

.form-forgot-password {
    margin-top: 30px;
}

.label-text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: var(--bold-color);
}

.btn-forgot-password {
    position: absolute;
    width: 325px;
    height: 54px;
    left: 18px;
    top: 122px;
    background: #2CD1F8;
    border-radius: 8px;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--white-color);
}

.input-eye {
    left: 320px;
    top: 44px;
}

.input-icon-forgot {
    position: absolute;
    left: 316px;
    top: 61px;
    color: #C1C1C1;
    cursor: pointer;
    font-size: 20px;
}

.union-forgot-password {
    background-image: url(../../asset/Union.svg);
    background-repeat: no-repeat;
    background-position: 237px 322px;
    width: 414px;
    height: 904px;
}