

.status-success-password {
   
    width: 328px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: var(--bold-color);
    margin-top: 12px;
}
.comment-success-password {
   
    width: 325px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #AEAEAE;
    margin: -16px 0px 42px -3px;
}


.Union-success-password {
    position: absolute;
    width: 319.42px;
    height: 317px;
    left: 234px;
    top: 542px;
    background: #2CD1F8;
    opacity: 1;
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    .comment-success-password{
        width: 94%;
    }
    .union-bottom {
       display: none;
    }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
    .union-bottom {
        display: block;
     }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {}