
html {
    overflow: hidden;
}
.block {
    width: 360px;
    margin: 0 auto;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 414px;
    height: 100%;
    background: #FBFBFD;
}

.container-camera {
    position: relative;
    width: 414px;
    height: 896px;
    margin: 0 auto;
    background: #606060;
}

.previous-white {
    color: #fff;
}


hr {
    margin: 0;
}

.btn-change-password {
    position: absolute;
    width: 325px;
    height: 54px;
    left: 45px;
    top: 481px;

    background: #2CD1F8;
    border-radius: 8px;
    border: none;
    outline: none;
}

.app {
    position: absolute;
    width: 414px;
    height: 899px;
    left: 0px;
    top: -1px;

    background: #FBFBFD;
}

.blue {
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.5px;

    color: #2CD1F8;
}

.bold-text {
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: -0.5px;

    color: #636363;
    
}

a {
    text-decoration: none;
}

li{
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    border: none;
}