.bGdNZt {
    border: 1px solid #fff !important;
}

.edRGUN{
    display: block;
    opacity: 0;
    border-radius: 50%;
    position: absolute;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 2;
}